@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-contact {
    background-image: url("../images/contact.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
